.sc-landing-plea {
  height: 190px;
  width: 100%;
  background-color: var(--blue-3);
  display: flex;
  justify-content: center;
}

.sc-landing-plea--text {
  font-weight: 600;
  font-size: 24px;
  align-self: center;
  margin-right: 20px;
}

.sc-landing-plea--button-wrapper {
  display: inline-block;
  align-self: center;
  margin-left: 20px;
  text-decoration: none;
}

.sc-landing-plea--button-wrapper .sc-landing-plea--button--text {
  text-decoration: none;
}

.sc-landing-plea--button {
  background: white;
  display: flex;
  border-radius: 8px;
  padding: 13px 35px 13px 20px;
  border: none;
  box-shadow: 0px 1px 10px rgba(28, 35, 118, 0.24);
  font-size: 16px;
  color: var(--blue-1);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.sc-landing-plea--button:hover {
  box-shadow: 0px 1px 10px rgba(28, 35, 125, 0.24);
  transform: scale(1.02);
}

.sc-landing-plea--button--text {
  align-self: center;
  margin-top: 3px;
  text-decoration: none;
  color: var(--blue-1);
}

.sc-landing-plea--button img {
  width: 33px;
  height: 33px;
  margin-right: 15px;
}

@media (max-width: 600px) {
  .sc-landing-plea {
    flex-direction: column;
  }
  .sc-landing-plea--text {
    margin: 0 0 20px 0;
  }
  .sc-landing-plea--button-wrapper {
    margin: 0;
  }
}