<div class="ch-info-nav">
  <div class="ch-info-nav--info">
    <div class="ch-info-company">King of the Stack</div>
    <span class="ch-info-since">Since: <span class="ch-info-since--value">January 2017</span></span>
    <span class="ch-info-domain">Domain: <span class="ch-info-domain--value">kingofthestack.com</span></span>
  </div>

  <!-- Rounded switch -->
  <div>
    <label class="switch">
      <input type="checkbox" checked>
      <div class="slider round"></div>
    </label>
  </div>
</div>