<div class="ch-section-menu">
  <div class="ch-section-menu-items">
    <div class="ch-section-menu-item" data-route="/dashboard/analytics">
      <img class="ch-section-menu-item--img" src="/assets/images/analytics-icon.svg">
      <div class="ch-section-menu-item--text">Analytics</div>
    </div>
    <div class="ch-section-menu-item" data-route="/dashboard/widget">
      <img class="ch-section-menu-item--img" src="/assets/images/widget-icon.svg">
      <div class="ch-section-menu-item--text">Chindow</div>
    </div>
    <div class="ch-section-menu-item" data-route="/dashboard/settings">
      <img class="ch-section-menu-item--img" src="/assets/images/settings-icon.svg">
      <div class="ch-section-menu-item--text">Settings</div>
    </div>
    <div class="ch-horz-divider"></div>
    <div class="ch-section-menu-item" data-route="/dashboard/analytics">
      <img class="ch-section-menu-item--img" src="/assets/images/slack-icon.svg">
      <div class="ch-section-menu-item--text">Go to Slack</div>
    </div>
  </div>
</div>