<div class="sc-landing-pricing--plans">
  <div class="sc-landing-pricing--plan">
    <div class="sc-landing-pricing--plan-header">
      <div class="sc-landing-pricing--plan-title">Free</div>
      <div class="sc-landing-pricing--plan-subheader">No credit card required!</div>
    </div>
    <div class="sc-landing-pricing--plan-price">
      $0/month
    </div>
    <img src="/assets/free-points.svg" alt="" class="sc-landing-pricing--plan-points">
    <div class="sc-landing-pricing--plan-button-wrapper">
      <div class="sc-landing-pricing--plan-button">Get Slackchat Free</div>
    </div>
  </div>

  <div class="sc-landing-pricing--plan pro">
    <div class="sc-landing-pricing--plan-header">
      <div class="sc-landing-pricing--plan-title">Pro</div>
      <div class="sc-landing-pricing--plan-subheader">Be ready for all your users</div>
    </div>
    <div class="sc-landing-pricing--plan-price">
      $7/month
    </div>
    <img src="/assets/pro-points.svg" alt="" class="sc-landing-pricing--plan-points">
    <div class="sc-landing-pricing--plan-button-wrapper">
      <div class="sc-landing-pricing--plan-button">Get Slackchat Pro</div>
    </div>
  </div>

</div>