<% var href=`https://slack.com/oauth/authorize?redirect_uri=${process.env.SLACK_REDIRECT_URI}&scope=${process.env.SLACK_SCOPES}&client_id=${process.env.SLACK_CLIENT_ID}`; %>

<div class="sc-landing-pricing--plans">
  <div class="sc-landing-pricing--plan">
    <div class="sc-landing-pricing--plan-header">
      <div class="sc-landing-pricing--plan-title">Free</div>
      <div class="sc-landing-pricing--plan-subheader">No credit card required!</div>
    </div>
    <div class="sc-landing-pricing--plan-price">
      $0/month
    </div>
    <img src="/assets/free-points.svg" alt="" class="sc-landing-pricing--plan-points">
    <div class="sc-landing-pricing--plan-button-wrapper">
      <a class="sc-landing-pricing--plan-button" href='<%= href %>'>Get Slackchat Free</a>
    </div>
  </div>

  <div class="sc-landing-pricing--plan pro">
    <div class="sc-landing-pricing--plan-header">
      <div class="sc-landing-pricing--plan-title">Pro</div>
      <div class="sc-landing-pricing--plan-subheader">Be ready for all your users</div>
    </div>
    <div class="sc-landing-pricing--plan-price">
      $7/month
    </div>
    <img src="/assets/pro-points.svg" alt="" class="sc-landing-pricing--plan-points">
    <div class="sc-landing-pricing--plan-button-wrapper">
      <a class="sc-landing-pricing--plan-button" id="customButton">Get Slackchat Pro</a>
    </div>
  </div>

</div>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
var handler = StripeCheckout.configure({
  key: 'pk_test_aMVrnnidiSdu5x76VgtKRaff',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  token: function(token) {
    // You can access the token ID with `token.id`.
    // Get the token ID to your server-side code for use.
  }
});

document.getElementById('customButton').addEventListener('click', function(e) {
  // Open Checkout with further options:
  handler.open({
    name: 'Demo Site',
    description: '2 widgets',
    currency: 'cad',
    amount: 700
  });
  e.preventDefault();
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});
</script>