<div class="sc-info-nav">
  <div class="sc-info-nav--info">
    <div class="sc-info-company">
      <img src="/assets/user.svg" alt="">
      <div class="sc-info-company--text">
        <%- team_name %>
      </div>
    </div>
    <span class="sc-info-since">Since: <span class="sc-info-since--value">January 2017</span></span>
    <span class="sc-info-domain">Domain: <span class="sc-info-domain--value">kingofthestack.com</span></span>
  </div>

  <!-- Rounded switch -->
  <div>
    <label class="switch">
      <input type="checkbox" checked>
      <div class="slider round"></div>
    </label>
  </div>
</div>