<link rel="stylesheet" href="./../../build/styles.bundle.css">


<div class="ch-container">
  <%- include ../partials/dashboard-header.ejs %>
  <div class="ch-horz-divider"></div>
  <%- include ../partials/dashboard-info-nav.ejs %>
  <div class="ch-horz-divider"></div>
  <div class="ch-dashboard-content">
    <%- include ../partials/dashboard-section-menu.ejs %>
    <%- include analytics-details.ejs %>
  </div>
</div>

<script src="./../../build/dashboard.bundle.js"></script>