<link rel="stylesheet" href="styles/base.css">
<link rel="stylesheet" href="styles/helpers.css">
<link rel="stylesheet" href="styles/partials/dashboard-header.css">

<div class="ch-container">
  <%- include ../partials/dashboard-header.ejs %>
  <div class="ch-horz-divider"></div>
</div>