<div class="sc-left-nav">
  <div class="sc-left-nav-items">
    <a class="sc-left-nav-item" href="/<%= team_id %>/dashboard/analytics">
      <img class="sc-left-nav-item--img" src="/assets/analytics.svg">
      <div class="sc-left-nav-item--text">Analytics</div>
    </a>
    <a class="sc-left-nav-item" href="/<%= team_id %>/dashboard/widget">
      <img class="sc-left-nav-item--img" src="/assets/widget.svg">
      <div class="sc-left-nav-item--text">Chindow</div>
    </a>
    <a class="sc-left-nav-item" href="/<%= team_id %>/dashboard/settings">
      <img class="sc-left-nav-item--img" src="/assets/settings.svg">
      <div class="sc-left-nav-item--text">Settings</div>
    </a>
    <a class="sc-left-nav-item" href="/<%= team_id %>/dashboard/payments">
      <img class="sc-left-nav-item--img" src="/assets/payments.svg">
      <div class="sc-left-nav-item--text">Payments</div>
    </a>
    <div class="sc-horz-divider"></div>
    <div class="sc-left-nav-item" data-route="/dashboard/analytics">
      <img class="sc-left-nav-item--img" src="/assets/slack-logo-blue.svg">
      <div class="sc-left-nav-item--text">Go to Slack</div>
    </div>
  </div>
</div>