<link rel="stylesheet" href="./../styles/settings-form.css">

<div class="ch-settings-form">
  <div class="ch-settings-section">
    <div class="ch-settings-title">Domain:</div>
    <input class="ch-settings-domain-input"></input>
  </div>

  <div class="ch-settings-section">
    <div class="ch-settings-title">Email:</div>
    <input class="ch-settings-domain-input"></input>
  </div>

  <button class="ch-settings-button">Update</button>
</div>