<html>
  <head>
    <link rel="stylesheet" href="build/styles.bundle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%- include landing/index.ejs %>
  </body>
</html>
