<link rel="stylesheet" href="./../../build/styles.bundle.css">
<title>SlackChat</title>


<div class="sc-container">
  <%- include ../header.ejs %>
  <div class="sc-horz-divider"></div>
  <%- include ../account-info.ejs %>
  <div class="sc-horz-divider"></div>
  <div class="sc-dashboard-content">
    <%- include ../left-nav.ejs %>

    <div class="sc-dashboard-pricing-plan-wrapper">
      <%- include ../../partials/pricing-plans.ejs %>
    </div>
  </div>
</div>

<script src="./../../build/dashboard.bundle.js"></script>