<div class="sc-footer">
  <div class="sc-footer--links">
    <div class="sc-footer--info">
      <div class="sc-footer--info-logo">
        <img src="assets/logo.svg" alt="">
        <span>slackchat</span>
      </div>
      <div>
        Free live chat for your site <br />
        that connects to Slack
      </div>
    </div>
    <div class="sc-footer--address">
      <div class="sc-footer--address-title">Address</div>
      <div class="sc-footer--address-info">
        715 Bryant Street <br />
        Toronto, Ontario <br />
        N6G3W7
      </div>
    </div>
    <div class="sc-footer--contact">
      <div class="sc-footer--contact-title"> Contact </div>
      <div class="sc-footer--contact-buttons">
        <a class="sc-footer--contact-button" href="https://www.facebook.com/kingofthestack/" target="_blank">
          <img class="facebook-icon" src="assets/facebook.svg" alt="">
        </a>
        <a class="sc-footer--contact-button" href="mailto:hello@kingofthestack.com" target="_blank">
          <img class="mail-icon" src="assets/mail.svg" alt="">
        </a>
      </div>
    </div>
    <div class="sc-footer--kots">
      <a class="sc-footer--kots-img-wrapper" href="https://kingofthestack.com/">
        <img src="assets/kots-logo.svg" alt="">
      </a>
      <div>A King of the Stack product</div>
      <div>hello@kingofthestack.com</div>
    </div>
  </div>
  <div class="sc-footer--divider"></div>
  <div class="sc-footer--etc">
    <div>
      Copyright 2017. King of the Stack Inc.<br />
      All rights reserved.
    </div>
    <div class="sc-footer--etc-privacy">
      Privacy Policy & Terms of Service <br />
      Made with Canadian Maple Syrup
    </div>
  </div>
</div>