<div class="sc-landing--header">
    <div class="sc-landing--logo">
        <img src="assets/logo.svg" alt="">
        <div class="sc-landing--logo-text">slackchat</div>
    </div>
    <div class="sc-landing--nav">
        <a class="sc-landing--nav-item" href="#sc-landing--info">About</a>
        <a class="sc-landing--nav-item" href="mailto:hello@kingofthestack.com">Contact</a>
        <% var href=`https://slack.com/oauth/authorize?redirect_uri=${process.env.SLACK_REDIRECT_URI}&scope=${process.env.SLACK_SCOPES}&client_id=${process.env.SLACK_CLIENT_ID}`; %>
        <a class="sc-landing--nav-item login" href='<%= href %>'>
            <img src="assets/slacklogo.svg" alt="">
            Login
        </a>
    </div>
</div>