<div class="sc-landing--header">
    <div class="sc-landing--logo">
        <img src="assets/logo.svg" alt="">
        <div class="sc-landing--logo-text">slackchat</div>
    </div>
    <div class="sc-landing--nav">
        <div class="sc-landing--nav-item">About</div>
        <div class="sc-landing--nav-item">Contact</div>
        <div class="sc-landing--nav-item login">
            <img src="assets/slacklogo.svg" alt="">
            Login
        </div>
    </div>
</div>