<div class="sc-landing-hero">
  <div class="sc-landing-hero--info">
    <div class="sc-landing-hero--info-text">
      Chat with users on <br />
      your site without <br />
      ever leaving <span class="sc-landing-hero--blue-word">Slack</span> <br />
    </div>
    <div class="sc-landing-hero--button-wrapper">
      <a class="sc-landing-hero--button" href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands,bot&client_id=94105311894.149174096865">
        <img src="assets/slack-logo-blue.svg" alt="" />
        <div class="sc-landing-hero--button-text">
          Get Slackchat free!
        </div>
      </a>
    </div>
  </div>
  <div class="sc-landing-hero--img">
    <img src="assets/slackmock.svg" alt="">
  </div>
</div>