<div class="sc-landing--info">
  <div class="sc-landing--info-section">
    <div class="sc-landing--info-section-title">
      Simple alternative to Intercom
    </div>
    <div class="sc-landing--info-section-content">
      Don't pay for crap you don't need! Slackchat is
      dead simple to use. It comes with the most important features
      from Intercom, but a fraction of the cost.
    </div>
  </div>
    <img src="/assets/plus-square.svg" alt="" class="sc-landing--info-plus-img">
  <div class="sc-landing--info-section">
    <div class="sc-landing--info-section-title">
      Chat with customers from Slack
    </div>
    <div class="sc-landing--info-section-content">
      You use slack, you love slack, <i> we </i> love slack.
      You'll never miss a message, and you'll have the full power of Slack
      on hand to convert visitors into customers.
    </div>
  </div>
</div>