<div class="sc-landing-people">
  <div class="sc-landing-people--title">
    Slackchat is for you
  </div>
  <div class="sc-landing-people--quotes">
    <div class="sc-landing-people--quote">
      <img class="sc-landing-people--quote-img" src="assets/morgan.svg">
      <div class="sc-landing-people--quote-text">
        <i>
          "I added Slackchat to my shoppify site in under 5 minutes. Wonderful!"
        </i>
      </div>
    </div>
    <div class="sc-landing-people--quote">
      <img class="sc-landing-people--quote-img" src="assets/vicky.svg">
      <div class="sc-landing-people--quote-text">
        <i>
        "Great for women, or for men. For white people, or asians! Works for everyone"
        </i>
      </div>
    </div>
    <div class="sc-landing-people--quote">
      <img class="sc-landing-people--quote-img" src="assets/levi.svg">
      <div class="sc-landing-people--quote-text">
        <i>
          "As an experienced architect I can say - Slackchat is very well made."
        </i>
      </div>
    </div>
  </div>
</div>