<div class="sc-landing-plea">
  <div class="sc-landing-plea--text">
    Start using Slackchat today for <i>free!</i>
  </div>
  <div class="sc-landing-plea--button-wrapper">
    <button class="sc-landing-plea--button">
      <img src="assets/slacklogo.svg" alt="">
      <div class="sc-landing-plea--button--text">Add to Slack</div>
    </button>
  </div>
</div>