<div class="sc-landing-pricing">
  <div class="sc-landing-pricing--title">Don’t break the bank</div>
  <div class="sc-landing-pricing--subheader">Our plans will meet all your live chat needs while still being affordable.</div>

  <%- include ../partials/pricing-plans.ejs %>

  <div class="sc-landing-pricing--good-points">
    <div class="sc-landing-pricing--good-point">
      <div class="sc-landing-pricing--good-point-title blue">
        Seamless Slack integration
      </div>
      <div class="sc-landing-pricing--good-point-body">
        No programming required. Simply sign up, copy paste the snippet,
        and start smooth talking your visitors. It's really that easy.
      </div>
    </div>
    <div class="sc-landing-pricing--good-point">
      <div class="sc-landing-pricing--good-point-title yellow">
        Usage metrics & analytics
      </div>
      <div class="sc-landing-pricing--good-point-body">
        "That which gets measured, gets managed". Heck, this is
        what we use for our metrics and analytics.
      </div>
    </div>
    <div class="sc-landing-pricing--good-point">
      <div class="sc-landing-pricing--good-point-title pink">
        Unlimited monthly chats
      </div>
      <div class="sc-landing-pricing--good-point-body">
        For just 7 bucks you can get unlimited conversations for
        your growing business! If you're just starting out, we offer
        200 conversations completely free.
      </div>
    </div>
    <div class="sc-landing-pricing--good-point">
      <div class="sc-landing-pricing--good-point-title green">
        Beautiful on every site 
      </div>
      <div class="sc-landing-pricing--good-point-body">
        We put special care into making our widget beautiful,
        because that's what your customers see. Plus, you can customize the colour,
        text, and behaviour to match your site!
      </div>
    </div>
  </div>
</div>