<div class="sc-settings-form">

  <div class="sc-settings-header">
    <div class="sc-settings-title">Configure Settings</div>
    <div class="sc-settings-button">Update</div>
  </div>

  <div class="sc-settings-sections">
    <div class="sc-settings-section">
      <div class="sc-settings-section-title">Domain</div>
      <input class="sc-settings-domain-input"></input>
    </div>

    <div class="sc-settings-section">
      <div class="sc-settings-section-title">Display name</div>
      <input class="sc-settings-domain-input"></input>
    </div>

    <div class="sc-settings-section">
      <div class="sc-settings-section-title">Email</div>
      <input class="sc-settings-domain-input"></input>
    </div>

    <div class="sc-settings-section">
      <div class="sc-settings-section-title">Color</div>
      <input class="sc-settings-domain-input jscolor"></input>
    </div>
  </div>
</div>