<div class="ch-widget-form">
  <div class="ch-widget-title">
    Copy the code below into your index.html:
  </div>
  <textarea class="ch-widget-input">
    <script src="http://chindow.io:9090/embed/<%- team_id %>"></script>
  </textarea>
</div>