<div class="sc-widget-form">
  <div class="sc-widget-form--header">
    <div class="sc-widget-title">
      Copy the code below into your index.html:
    </div>
    <div class="sc-widget-button" id="sc-copy-script-button">
      Copy
    </div>
  </div>
  <textarea class="sc-widget-input" id="sc-copy-script-input">
    <script src="https://slackchat.io/api/embed/<%- team_id %>"></script></textarea>
</div>