* {
  box-sizing: border-box;
  font-family: Avenir Next, "Helvetica Neue", Helvetica, sans-serif;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  color: #676767;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

button {
  border:none;
}