* {
  box-sizing: border-box;
  font-family: Avenir Next, "Helvetica Neue", Helvetica, sans-serif;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  color: #676767;
}

a {
  text-decoration: none;
}

button:focus {outline:0;}