.ch-settings-form {
  padding: 55px;
}
.ch-settings-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.ch-settings-domain-input {
  border-radius: 5px;
  border: solid 1px #E8E8E8;
  padding: 10px;
  width: 250px;
  color: #676767;
}

.ch-settings-section {
  margin-bottom: 30px;
}

.ch-settings-button {
  background: #2C8EFF;
  border-radius: 5px;
  padding: 15 25 15 25px;
  color: white;
  font-size: 16px;
}