.sc-analytics {
  background: white;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 1px 10px rgba(28, 35, 118, 0.24);
  max-height: 450px;
}

.sc-analytics--chart-header {
  display: flex;
  width: 100%;
  background: #4E8CFF;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.sc-analytics--chart-section {
  width: 20%;
  padding: 17px 0px;
  text-align: center;
  color: white;
  cursor: pointer;
  border-right: solid 1px #3365BF;
  text-decoration: none;
}

.sc-analytics--chart-section.active, .sc-analytics--chart-section.active:hover {
  background: #80ACFF;
  cursor: default;
  position: relative;
}

.sc-analytics--chart-section.active:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #80ACFF;
  left: calc(50% - 7px);
  bottom: -6px;
  transform: rotate(45deg);
  border-radius: 3px;
}

.sc-analytics--chart-section:first-of-type {
  border-top-left-radius: 8px;
}

.sc-analytics--chart-section:hover {
  background: #5C95FF;
}

.sc-analytics--chart-section-numbers {
  font-weight: 600;
  margin-bottom: 5px;
  display: flex;
  justify-content: center
}

.sc-analytics--chart-section-numbers span {
  font-weight: 300;
  color: var(--yellow-2);
}

.sc-analytics--chart-section-title {
  font-weight: 600;
  font-size: 12px;
}

.sc-analytics--chart-etc {
  display: flex;
  justify-content: center;
  flex: 1;
}

.sc-analytics--chart-date {
  align-self: center;
  margin-right: 15px;
  color: white;
}

.sc-analytics--chart-switcher {
  margin-left: 15px;
  width: 65px;
  height: 25px;
  background: white;
  align-self: center;
  box-shadow: 0px 1px 10px rgba(28, 35, 118, 0.24);
  border-radius: 25px;
  display: flex;
}

.sc-analytics--chart-switcher:hover {
  box-shadow: 0px 1px 10px rgba(28, 35, 125, 0.24);
}

.sc-analytics--chart-switcher-arrow {
  width: 50%;
  height: 100%;
  cursor: pointer;
  background-image: url(/assets/chevron.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #F4F8FF;
}

.sc-analytics--chart-switcher-arrow:last-of-type {
  background-color: white;
  transform: rotate(180deg);
}

.sc-analytics--canvas-wrapper {
  padding: 60px 60px 0px 60px;
}