.sc-dashboard-header {
  width: 100%;
  padding: 30px 0px 45px 0px;
  display: flex;
  justify-content: space-between;
}

.sc-dashboard-header--brand {
  display: flex;
  flex-direction: row;
}

.sc-dashboard-header--brand .sc-brand-text {
  color: #2C8EFF;
  font-weight: 600;
  font-size: 24px;
  align-self: center;
  margin-left: 10px;
}

.sc-dashboard-header--brand img {
  height: 40px;
}

.sc-dashboard-header--dropdown {
  display: flex;
  cursor: pointer;
  background: none;
  border: none;
  position: relative;
}

.sc-dashboard-header--dropdown:focus {
  outline: none;
}

.sc-dashboard-header--avatar-img {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.sc-dashboard-header--upgrade-float {
  color: var(--blue-1);
  font-weight: 600;
  background: var(--yellow-1);
  font-size: 10px;
  padding: 6px 12px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  margin-right: 15px;
  animation: nudge 1.7s ease-in-out infinite;
}

@keyframes nudge {
  0% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(5px, 0);
  }
  
  100% {
    transform: translate(0px, 0);
  }
}

.sc-dashboard-header--upgrade-float:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  background: var(--yellow-1);
  top: calc(22px/2 - 2px);
  right: -2px;
  transform: rotate(45deg);
  border-radius: 2px;
}

.sc-dashboard-header--dropdown-icon {
  width: 10px;
  max-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-left: 10px;
}

.sc-dashboard-header--dropdown-icon img {
  height: 30px;
  width: 10px;
}

.sc-dashboard-dropdown-menu {
  position: absolute;
  width: 220px;
  border: solid 2px #F1F1F1;
  border-radius: 5px;
  background: white;
  top: 100%;
  right: 0px;
  visibility: hidden;
  opacity: 0;
  transition: top 0.3s, opacity 0.3s, visibility 0s 0s;
  color:#676767;
  font-size: 14px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  z-index: 100;
}

.sc-dashboard-header--dropdown:focus .sc-dashboard-dropdown-menu {
  visibility: visible;
  opacity: 1;
  top: calc(100% + 10px);
}

.sc-dashboard-dropdown-item {
  text-align: left;
  width: 210px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 10px;
}

.sc-dashboard-dropdown-item.link {
  color: #676767;
  display: block;
}

.sc-dashboard-dropdown-item.link:hover {
  color: #2C8EFF;
}

.sc-dashboard-dropdown-item--user {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.sc-dashboard-dropdown-email {
  font-size: 12px;
  font-weight: 300;
  padding-left: 25px;
  color: #AFAFAF;
}

.sc-dashboard-dropdown-username {
  display: flex;
  flex-direction: row;
  
}

.sc-dashboard-dropdown-username-text {
  padding-left: 5px
}

.sc-dashboard-dropdown-circle {
  border-radius: 50%;
	width: 20px;
	height: 20px;
  background: #2C8EFF;
}