.ch-section-menu {
  max-width: 200px;
  height: 100%;
}

.ch-section-menu .ch-horz-divider {
  width: 60%;
}

.ch-section-menu-item {
  display: flex;
  padding: 10px;
  margin: 20px 0px;
  border-radius: 25px;
  cursor: pointer;
}

.ch-section-menu-item:hover {
  background: #F2F7FF;
}

.ch-section-menu-item--img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}